
.navvv{
    padding: 10px 5px;
}
.nav-bar{
margin-left: 230px;
}
.para{
    top: 20px;
    left: 110px;
    font-weight: 500;
    
}
.navv-bar{
    margin-right: 200px;
}
.medic{
    margin-right: 90px;
    color: rgba(3, 81, 248, 0.808);
    font-weight: bold;
}
.nav-item{
    margin: 0px 8px;
    font-weight: 600;
}
.image{
width: 90%;
margin-left: 5%;
}
.better{
    height: 500px;
    width: 800px;
    background-color: white;
   position: absolute; 
   left: 1100px ;
   bottom: -20px;
}
.btr{
  font-weight: 700;
  font-size: 3.2rem;
  letter-spacing: 1.5px;

}
.na{
display: inline;
font-size: 4.5rem;
}
.btr1{
    font-weight: 700;
    font-size: 3.2rem;
    letter-spacing: 1.5px;
   color: rgba(3, 81, 248, 0.808);
}
.better2{
    margin-left: 50px;
    margin-top: 50px;
   font-size: 2.5rem;
}
.ptag{
    font-size: 1.5rem;
    width: 550px;
    margin-left: 2px;
    font-weight: 200;
    color: rgb(88, 78, 78);
     margin-top: 20px;
    margin-bottom: 40px; 
}
.bt{
    color: #047bf1;
    border: 2px solid rgb(224, 217, 217);
    background-color: white;
    font-weight: 500;
    font-size: 1.2rem;
    margin-left: 5px;
    padding: 11px 55px;
}
.fa{
    margin-left: 50px;

}
.number{
    font-size: 1.5rem;
    font-weight: 400;
    color: rgb(136, 130, 130);
    margin-left: 20px;
    /* margin-bottom: 20px; */
    margin-top: -15px;
   
}
#title{
    margin-top: 180px;
    margin-left: 5%;
    margin-bottom: 150px;
}
h1.second{
    font-weight: bold;

}
.first{
    font-size: 1.5rem;
    color: rgb(134, 119, 119);
    font-weight: lighter;
}
.sec{
    margin-bottom: 30px;
}
.third{
    height: 480px;
    width: 480px;
    border-radius: 100%;
    background-color: white; 
    margin-left: 120px;
    box-shadow: 0px 0px 10px #000;
    margin-top: 0px;
}
.box{
    font-size: 14rem;
    font-weight: 700;
    color: #047bf1;
}
.box12{
   padding-left: 50px;
   padding-top: 30px;
}
.ha{
    display: inline;
}
.exp{
    font-size: 2rem;
    font-weight: 700;
    color: rgb(124, 114, 114);
    letter-spacing: 1.5px;
}
.exp1{
    margin-left: 40px;
}
.img2{
    width: 90%;
}
.img1{
    width: 90%;
    margin-left: 70px;
}
.sec2{
    margin: 100px 0px;
}
.timeline{
    text-align: center;
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin-bottom: 80px;
    font-size: 3.5rem;
}

a {
  text-decoration: none;
}

.timeline-container {
  max-width: 1300px;
  margin: 0 auto;
}

#timeline .timeline-item:after, #timeline .timeline-item:before {
  content: '';
  display: block;
  width: 100%;
  clear: both;
}

#timeline {
  width: 100%;
  margin: 100px auto;
  position: relative;
  padding: 0 20px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
#timeline:before {
  content: "";
  width: 1px;
  height: 80%;
  background: lightgray;
  left: 50%;
  top: 0;
  position: absolute;
}
#timeline:after {
  content: "";
  clear: both;
  display: table;
  width: 100%;
}
#timeline .timeline-item {
  margin-bottom: 50px;
  position: relative;
}
#timeline .timeline-item .timeline-icon {
  background: white;
  box-shadow: 0px 0px 3px #000;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 50%;
  overflow: hidden;
  margin-left: -23px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
#timeline .timeline-item .timeline-icon svg, #timeline .timeline-item .timeline-icon .fa {
  position: relative;
  top: 13px;
  left: 14px;
  font-size: 24px; 
  color: #fff;
}
#timeline .timeline-item .timeline-content {
  width:45%;
  background: #fff;
  padding : 20px;
  box-shadow: 0px 0px 10px grey;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#timeline .timeline-item .timeline-content h2 {
  padding: 15px;
  background: black;
  color: #fff;
  margin: -20px -20px 0 -20px;
  font-weight: 300;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  font-size: 22px;
}
#timeline .timeline-item .timeline-content p {
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.5rem;
  color: rgb(109, 103, 103);
  font-weight: 200;
}
#timeline .timeline-item .timeline-content:before {
  content: '';
  position: absolute;
  left: 45%;
  top: 20px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid black;
}
#timeline .timeline-item .timeline-content.right {
  float: right;
}
#timeline .timeline-item .timeline-content.right:before {
  content: '';
  right: 45%;
  left: inherit;
  border-left: 0;
  border-right: 7px solid black;
}
.timeline-content{
  font-size: 1.2rem;
}
.last{
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 45px;
    font-size: 3rem;
}
.last1{
    background-color: rgb(0, 0, 0);
    height: 300px;
    width: 500px;
    margin-left: 28%;
    border-radius: 10px;
}
.star{
    margin: 30px;
    margin-top: 50px;
}
input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid lightgray;

  }
  .appoinment{
    text-align: center; 
    font-weight: bold;
    margin-bottom: 100px;
    font-size: 3rem;
  }
  .form1{
    margin-left: 40%;
    color: gray;
    font-weight: 600;
    font-size: 1.5rem;
  }
  .form2{
    margin-right: 40%;
    color: gray;
    font-weight: 600;
    font-size: 1.5rem; 

  }
  .button1{
    background-color: black;
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 100px;
    padding: 10px 20px;
    margin-bottom: 100px;
  }
.lsec{
background-color: rgb(236, 236, 236);
padding-top: 150px;
text-align: center;
}
.lastsec{
    padding-bottom: 100px;
}
.lptag{
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid lightgray;
    margin-left: 32%;
    text-align: left;
    margin-top: 40px;
  padding-bottom: 20px;
  color: gray;
  font-weight: 400;
  font-size: 1.5rem;
}
.address{
  margin-left: 25%;
    text-align: left;
    padding-bottom: 5px;
     color: gray;
     font-weight: 300;
  font-size: 1.2rem;
}
.itag{
  margin-top: 40px ;
  margin-left: 15px;
  font-size: 25px;
}
.slide{
  background-color: black;
  width: 60%;
  height: 400px;
 color: white;
 border-radius: 10px;

}
#crau{
  margin-left: 30%;
 margin-bottom: 100px;
}
.str{
  padding-left: 40px;
  padding-top: 40px;
  width: 150%;
  font-size: 1.5rem;

}
.slide p {
  margin-right: 10px;
  }
.profile{
  height: 80px;
  width: 80px;
  border-radius: 80%;
  margin-left: 40px;
}
